@font-face {
    font-family: 'Arial Rounded MT';
    src: url('fonts/ArialRoundedMTBold.eot');
    src: url('fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'), url('fonts/ArialRoundedMTBold.woff') format('woff'), url('fonts/ArialRoundedMTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sukhumvit Set';
    src: url('fonts/SukhumvitSet-Medium.eot');
    src: url('fonts/SukhumvitSet-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/SukhumvitSet-Medium.woff') format('woff'), url('fonts/SukhumvitSet-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: 'Sukhumvit Set' !important;
}




/*/////////////////////////////////////////////////////*/
 /*menu bar header*/
.menu-bar {
	margin-left: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    overflow: hidden;
    background-color: rgb(26, 75, 153);
}

li {
    float: left;
    margin-left: 28px;
}

li a {
    display: inline-block;
    color: white; /*changes text of the nav bar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    letter-spacing: 0.15em;
    padding: 15px 0;
    margin: 0px 35px;
    border-bottom: 2px solid rgb(26, 75, 153);
    transition: 0.3s ease;
}

li a:hover {
	/*margin-left: 0px;*/
	border-bottom: 2px solid rgb(246, 182, 4);
    background-color: rgb(25, 67, 79);
}

/*////////*/

/* box section first*/
.section {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #d8e2e1;
    min-height: 300px;
	margin: 25px 128px;
    overflow: hidden;
    padding: 15px 20px;
    -webkit-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    -moz-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
}

/*ส่วนเเสดงข้อความทางด้านซ้ายมือตรง Youtube*/
.feature {
	margin-left: 622px;
    margin-right: -1px;
    margin-top: -12px;
    padding-bottom: 20px;
    background-color: rgb(239, 31, 86);
}

/*ตัวหนังสือ*/
.title {
	color: rgb(255, 255, 255);
    padding-left: 99px;
    padding-top: 12px;
    margin-top: -413px;
}
.title2 {
	color: rgb(255, 255, 255);
	padding-left: 110px;
	margin-top: -28px;
}
.title3 {
	color: rgb(255, 255, 255);
	padding-left: 156px;
	margin-top: -28px;
}

.link a {
    text-decoration: none;
    width: 100%;
    padding: 8px;
    margin-left: 90px;
    padding-right: 59px;
    padding-left: 55px;
    font-weight: bold;
    text-align: center;
    color: #FFF !important;
    font-size: 1.4em;
    background: #faae3e;
    border-bottom: 9px #C09446 solid;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 20px;
}

.title4 {
	color: rgb(255, 255, 255);
    padding-left: 73px;
    padding-top: 67px;
    margin-top: -28px;
}
.countdown {
	margin-right: 59px;
    margin-left: 75px;
    padding-left: 55px;
    padding-top: 4px;
    padding-bottom: 0.5px;
    background-color: wheat;
    border-radius: 15px;
}
.title5 {
	color: rgb(239, 31, 86);
}
.numday {
	color: rgb(81, 81, 81);
	margin-top: -23px;
}
.title6 {
	color: rgb(239, 31, 86);
    margin-top: -23px;
    padding-left: 22px;
}
.youtube {
    background-color: #365890;;
    margin-left: -631px;
    margin-right: 367px;
    margin-top: 4px;
    padding-bottom: 385px;
}

/*block*/

/*/////////////////////////////////////////////////*/

/*ส่วนท่2*/

.section2 {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #17243a;
    min-height: 300px;
	margin: 25px 128px;
    overflow: hidden;
    padding: 15px 20px;
    -webkit-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    -moz-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
}
.box1 {
	/*background-color: red;*/
    margin-right: 484px;
    padding-bottom: 338px;
    margin-bottom: 0px;
}
.box2 {
    background-color: #ef1f56;
    margin-left: 524px;
    margin-top: -687px;
    padding-bottom: 43px;
    /*เงา*/
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
}
.box3 {
	background-color: #1a4b99;
    margin-left: 524px;
    padding-bottom: 69px;
    margin-top: 28px;
    padding-top: 86px;
    /*เงา*/
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
}
.logobox1 {
    text-decoration: none;
    width: 100%;
    padding: 6px;
    margin-left: -11px;
    margin-right: -33px;
    padding-right: 1px;
    padding-left: 14px;
    font-weight: bold;
    text-align: center;
    color: #FFF !important;
    font-size: 1.4em;
    background: #f8cb33;
    border-bottom: 9px #C09446 solid;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 20px;
}
.title7 {
	color: rgb(255, 255, 255);
	padding-left: 46px;
}
.boxproduct1 {
	background-color: white;
    margin-left: 28px;
    margin-right: 35px;
    margin-bottom: -85px;
    margin-top: 33px;
    padding-bottom: 293px;
    border-radius: 10%;
}
.circle1 {
	background-color: #f8cb33;
    height: 45px;
    width: 90px;
    padding-bottom: 109px;
    padding-left: 92px;
    border-radius: 0% 0% 102% 0%;
}
.text1 {
	color: #1f2a3a;
	margin-left: -65px;
	padding-top: 19px;
	margin-top: -33px;
}
.text2 {
	color: #ef1f54;
    margin-left: -64px;
    margin-top: -28px;
}
.text3 {
	color: #ef1f54;
    margin-left: -56px;
    margin-top: -26px;
}
.circle2 {
	background-color: #f8cb33;
    height: 0px;
    width: 90px;
    padding-bottom: 137px;
    padding-left: 92px;
    border-radius: 3% 4% 152% 0%;
    margin-top: -105px;
}
.text4 {
	color: #1f2a3a;
	padding-top: 11px;
    margin-left: -73px;
}
.text5 {
	color: #ef1f54;
    margin-left: -70px;
    margin-top: -24px;
}
.text6 {
	color: #ef1f54;
    margin-left: -54px;
    margin-top: -25px;
}

/*////////////////// จบส่วนที่สอง*/

/*ส่วนที่ 3*/

.section3 {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #d8e2e1;
    min-height: 300px;
	margin: 25px 128px;
    overflow: hidden;
    padding: 15px 20px;
    -webkit-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    -moz-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    -moz-box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
    box-shadow: 9px 8px 17px -1px rgba(163, 163, 163, 0.69);
}
.productreward {
    background: rgb(248, 203, 51);
    text-align: center;
    margin-left: 282px;
    margin-right: 317px;
    border-radius: 26px;
    padding-top: 9px;
    padding-bottom: 13px;
    color: rgb(240, 31, 86) !important;
    border-bottom: 9px #C09446 solid;
    font-size: 1.4em;
    font-weight: bold;
}
.selectionbox {
	background-color: red;
	margin: 0.5em 0;
    padding: 0.25em;
    text-align: center;
    background: #eee;
    border-radius: 0.25em;
    margin: 0;
    padding: 0;
}
.col {
	float: left;
    width: 100%;
}
.item1 {
	margin: 0.25em;
    padding: 13.5em 0;
    margin-right: 505px;
    color: #fff;
    background: #ef1f56;
    font-weight: bold;
    line-height: 1em;
    border: solid 11px white;
    border-radius: 0.25em;
}
.item2 {
	margin: 0.25em;
    margin-top: -533px;
    padding: 13.5em 0;
    color: #fff;
    background: #8ac43f;
    font-weight: bold;
    line-height: 1em;
    border: solid 11px white;
    border-radius: 0.25em;
    margin-left: 490px;
}
.circlesec1 {
	background-color: #f8cb33;
    border-radius: 50%;
    width: 11%;
    height: 17%;
    margin-left: 186px;
    margin-top: -68px;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 1px;
    border: 9px #ffffff solid;
}
.circlesec2 {
	background-color: #f8cb33;
    border-radius: 50%;
    width: 11%;
    height: 17%;
    margin-left: 681px;
    margin-top: -65px;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 1px;
    border: 9px #ffffff solid;
}

/*ส่วนที่ 4*/
/*ส่วนของเส้น*/
.line {
	color: #204ca5;
	font-size: 92px;
	text-align: center;
}

/*miniconcert*/
.section4 {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: white;
    min-height: 300px;
	margin: 25px 128px;
    overflow: hidden;
    padding: 15px 20px;
}
.miniconcert {
    background: #1a4b99;
    text-align: center;
    margin-left: 282px;
    margin-right: 317px;
    border-radius: 26px;
    padding-top: 9px;
    padding-bottom: 13px;
    color: #facc09 !important;
    border-bottom: 9px #3F51B5 solid;
    font-size: 1.4em;
    font-weight: bold;
}
.mini1 {
	border: 5px solid #f8cb33; 
	margin-right: 680px;
	margin-top: 34px;
}
.mini2 {
	border: 5px solid rgb(26, 75, 153);
	margin-left: 332px;
    margin-right: 342px;
    margin-top: -381px;
}
.mini3 {
	border: 5px solid rgb(240, 31, 86);
	margin-left: 668px;
	margin-top: -382px;
}
.textmini1 {
	color: #1a4b99;
	text-align: center;
}
.textmini2 {
	color: #ef1f56;
	text-align: center;
	margin-top: -29px;
}
.textmini3 {
	color: #545454;
	text-align: center;
	margin-top: -44px;
}
.textmini4 {
	color: #545454;
	text-align: center;
	margin-top: -44px;
}

.textmini5 {
	color: #545454;
	text-align: center;
	margin-top: -43px;
}
.textmini6 {
	color: #1a4b99;
	text-align: center;
	margin-top: -11px;
}
.underline {
	border-top: 3px dashed #f8cb33;
	margin-top: -24px;
}
.textmini7 {
	color: #545454;
	text-align: center;
	margin-top: -41px;
}
.linkmini1 a {
    text-decoration: none;
    width: 100%;
    padding: 8px;
    margin-left: 53px;
    padding-right: 59px;
    padding-left: 55px;
    font-weight: bold;
    text-align: center;
    color: #1a4b99 !important;
    font-size: 1.4em;
    background: #f8cb33;
    border-bottom: 9px #C09446 solid;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 20px;
}





/*ส่วน top rank*/
.section5 {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: white;
    min-height: 300px;
	margin: 25px 128px;
    overflow: hidden;
    padding: 150px 20px;
}
.toprank {
    background: #1a4b99;
    text-align: center;
    margin-left: 282px;
    margin-right: 317px;
    border-radius: 26px;
    padding-top: 9px;
    padding-bottom: 13px;
    color: #facc09 !important;
    border-bottom: 9px #3F51B5 solid;
    font-size: 1.4em;
    font-weight: bold;
}
.top1 {
    margin-right: 537px;
    margin-top: 35px;
    border: 5px solid rgb(26, 75, 153); 
}
.top2 {
    background-color: rgb(26, 75, 153);
    margin-left: 519px;
    margin-top: -190px;

}
.titletoprank {
    color: #8ac452;
    text-align: center;
}
.titletoprank2 {
    color: rgb(26, 75, 153);
    text-align: center;
}
.top10 {
    color: rgb(26, 75, 153);
    text-align: center;
}

.alltop10 {
    text-align: center;
}
.alltop10 td {
    padding-left: 61px;
    text-align: center;
}
.top11-30 {
    color: white;
    text-align: center;
}
.white {
    color: white;
}